<h1>All survivors</h1>

<ul>
  {{#each listOfSurvivors}}
  <li>
    <a href="/survivor/{{_id}}">
      <p>{{firstName}} - {{lastName}}</p>
      <p>{{description}}</p>
      <p>{{dueDate}}</p>
      <p>{{dateOfBirth}}</p>
      <p>
      <iframe src="{{location}}" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </p>
      <p><img src="{{photo}}" alt=""></p>
      <p>{{sex}}</p>
      <p>{{ssn}}</p>
      <p>{{medicals}}</p>
      <p>{{equipments}}</p>
      
    </a>
  </li>
  {{/each}}
</ul>

  