<h1><a href="/survivor" class="btn btn-primary">Home</a></h1>
<p><img src="{{survivorInstance.photo}}" alt="(picture goes here)" style="width:200, height:200"></p>

<h1>{{survivorInstance.firstName}}</h1>
<h3>Last name: {{survivorInstance.lastName}}</h3>
<p>Rescued on: {{survivorInstance.dateOfBirth}}</p>

<iframe src="{{survivorInstance.location}}" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<br>
<div class="btn-group" role="group" aria-label="Basic example"></div>

<div class="btn-group showFooter" role="group" aria-label="Basic example">

  <form class="showButton" action="/survivor/{{survivorInstance._id}}?_method=DELETE" method="POST">
 
  <button type="submit" class="btn btn-secondary">Remove Survivor</button>
  </form>
  <a class="showButton" href="/survivor/{{survivorInstance._id}}/edit">
 
  <button type="submit" class="btn btn-secondary">Edit details</button>
  </a>
  <a class="showButton" href="/survivor/{{survivorInstance._id}}/edit" download>
  <button type="submit" class="btn btn-secondary">Download details</button>
  </a>
</div>



            <div class="row">
                <div class="col-md-4 order-md-2 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Equipment Required</span>
                        {{#each survivorInstance.equipments}}
                        <span class="badge badge-secondary badge-pill">Qty: {{quantity}}</span>
                    </h4>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Type</h6>
                                <small class="text-muted">{{type}}</small>
                            </div>
                            <span class="text-muted">Size: {{size}}</span>
                        </li>
                    </ul>
                    <div>
                        <img src="{{picture}}" alt="">
                    </div>

                    {{/each}} 
                    
                    {{#each survivorInstance.medicals}}
                    <ul class="list-group mb-3">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted">Medication Required</span>
                            <span class="badge badge-secondary badge-pill">Qty: {{quantity}}</span>
                        </h4>


                        <li class="list-group-item d-flex justify-content-between bg-light">
                            <div class="text-success">
                                <h6 class="my-0">Prescription</h6>
                                <small>{{type}}</small>
                            </div>

                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Frequency</span>
                            <strong>Take {{frequency}}</strong>
                        </li>
                        {{/each}}
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Patient's ailment</span>
                            <strong>{{survivorInstance.diagnosis}}</strong>
                        </li>
                    </ul>





                