<h1><a href="/survivor" class="btn btn-primary">Home</a></h1>
<p><img src="{{survivorInstance.photo}}" alt="(picture goes here)" style="width:200, height:200"></p>

<h1>{{survivorInstance.firstName}}</h1>
<h3>Last name: {{survivorInstance.lastName}}</h3>
<p>Rescued on: {{survivorInstance.dateOfBirth}}</p>

<iframe src="{{survivorInstance.location}}" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<form action="/survivor/{{survivorInstance._id}}?_method=DELETE" method="POST">
  <button type="submit">Remove Survivor</button>
</form>
<a href="/survivor/{{survivorInstance._id}}/edit">
  <button type="submit">Edit details</button>
</a>
<a href="/survivor/{{survivorInstance._id}}/edit" download>
  <button type="submit">Download details</button>
</a>
<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary">Left</button>
  <button type="button" class="btn btn-secondary">Middle</button>
  <button type="button" class="btn btn-secondary">Right</button>
</div>